<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>

<div ng-controller="TodoController">
    <h2>Todo List</h2>
    <input type="text" ng-model="newTask" placeholder="Add new task">
    <button ng-click="addTask()">Add Task</button>
    <ul>
        <li ng-repeat="task in tasks">
            {{ task.name }}
            <button ng-click="deleteTask($index)">Delete</button>
        </li>
    </ul>
</div>

<script>
var app = angular.module('todoApp', []);

app.controller('TodoController', function($scope) {
    $scope.tasks = [
        { name: 'Task 1' },
        { name: 'Task 2' },
        { name: 'Task 3' }
    ];

    $scope.addTask = function() {
        if ($scope.newTask) {
            $scope.tasks.push({ name: $scope.newTask });
            $scope.newTask = '';
        }
    };

    $scope.deleteTask = function(index) {
        $scope.tasks.splice(index, 1);
    };
});
</script>

</body>
</html>
